html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
  background: transparent;
  color: white;
  font-family: 'Inter', sans-serif;
  position: relative;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}