html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
  background: transparent;
  color: black;
  font-family: "Inter", sans-serif;
  position: relative;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
